{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>
<body>
    <div>
        <div>
            <h1><center>Welcome to The Network </center></h1>
			<div class="dropdown">
               <button class="dropbutton">MENU</button>
                <div class="dropdown_content">
                <a href="/home"> Home </a>
                <a href="/contact_us"> Contact Us </a>
                <a href="/about_us"> About Us</a>
                <a href="/login"> Login </a>
                <a href="/profile"> Profile</a>
                <a href="/register"> Register!</a>
                </div>
            </div>
               <div>
                {% block temp_content %}{% endblock %}
                </div> 
               <hr />
            <footer><center>&copy; The Network Media 2024 </center></footer>
        </div>
    </div>
    
</body>
</html>